<!DOCTYPE html>
<html>
<head>
  <title>CleditorWithPicture</title>
  <%= stylesheet_link_tag    "cleditor_with_picture/application", :media => "all" %>
  <%= javascript_include_tag "cleditor_with_picture/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
